/* 일반 구조 선택자 */
/* 형제관계 태그 중 첫 번째 선택자 */
#test1 p:first-child{
    background-color: red;
    color:white;
}

/* 형제 관계 태그 중 마지막 태그 선택자 */
#test1 p:last-child{ /*마지막 자식 태그가 p가 아니기 때문에 변화 x*/
    background-color: orange;
    color:white;
}

#test1 p:nth-child(2n){
    background-color: yellowgreen;
    color: white;
}

#test1 p:nth-last-child(4){
    background-color: skyblue;
    color: white;
}

/* 형태 구조 선택자 */
/* 형제 관계 태그 중에서 첫 번째 태그 선택 */
#test2 p:first-of-type{
    background-color: red;
    color: white;
}
/* 형제 관계 태그 중에서 마지막 태그 선택 */
#test2 p:last-of-type{
    background-color: red;
    color: white;
}

#test2 p:nth-of-type(2n){
    background-color: yellowgreen;
    color: white;
}

#test2 p:nth-last-of-type(3){
    background-color: violet;
    color: white;
}

/* 문자 선택자 */
/* 첫 번째 글자 선택 */
/* :: 가상 요소 선택자 - 특정 위치 
      특정 영역,요소를 선택하기 위해 만든 선택자 */
#test3 p::first-letter{
    font-size: 2em;
}
#test3 p::first-line{
    background-color: skyblue;
}
/* 태그 뒤에 위치하는 공간을 선택(가상요소 선택자): 내용삽입
   (인라인 (글자)요소) */
#test3 p::after{
    content: "@@태그이슈";/*가상 태그 선택자 사용시 내용이 없어도 빈값으로 꼭 명시*/
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
}

/*태그 앞에 추가*/
#test3 p::before{
    content: "1. ";
}

/* 사용자가 드래그한 글자를 선택 */
#test3 p::selection{
    background-color: red;
    color: white;
}

/* 부정 선택자 */
#test4 p::not(:nth-child(2n)){
    background-color: orange;
}

#test4 p{
    counter-increment: rint 10;
}

#test4 p::before{
    content: counter(rint) ". ";
}