<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.w0930.dao.KioskMapper">

    <select id="selectProduct" resultType="org.zerock.w0930.dto.ProductDTO">
        select * from products order by menuNumber
    </select>
</mapper>